div.t1
{
    max-height: 80vh;
    overflow-y: auto;
}
.edit
{
    color: rgb(5, 130, 214);
}
.search
{
    position: absolute !important;
    right: 50px !important;
    top: 23px !important;
}
.searchbar 
{
  outline-color:white;
}
button.createButton
{
    background-color: #d51b0c;
    color: rgb(248, 248, 248);
}
small.active{
    background-color: #d7ffd9 !important;
    color: #14c532;
    font-weight: bold;
}
small.inactive{
    background-color:#fbe9e7 !important;
    color: #ff1909;
    font-weight: bold;
}