div.sidebar :hover
{
    background-color: rgb(243, 243, 243);
}

.nav-link {
    color: rgba(108, 117, 125, 0.5); 
  }
  .nav-link:hover {
    text-decoration: none;
    color: inherit; 
    font-size: 15px;
  }
.nav-link.active {
    color: #dc3545; 
  }
      